<h1>Cipők Listája</h1>
  
<div class="container">
  <h2>Új cipő hozzáadása</h2>
  <form [formGroup]="newShoeForm" (ngSubmit)="saveNew()">
    <div>
      <label for="brand">Márka:</label>
      <input id="brand" formControlName="brand" />
    </div>
    <div>
      <label for="model">Modell:</label>
      <input id="model" formControlName="model" />
    </div>
    <div>
      <label for="size">Méret:</label>
      <input id="size" formControlName="size" type="number" />
    </div>
    <div>
      <label for="color">Szín:</label>
      <input id="color" formControlName="color" />
    </div>
    <div>
      <label for="price">Ár:</label>
      <input id="price" formControlName="price" type="number" />
    </div>
    <div>
      <label for="category">Kategória:</label>
      <input id="category" formControlName="category" />
    </div>
    <button type="submit" [disabled]="!newShoeForm.valid">Cipő mentése</button>
  </form>

  <hr />

<h2>Elérhető Cipők:</h2>

<!-- Cipők táblázata -->
<table border="1" id="shoes-table" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr id="elvalaszto">
      <th>Márka</th>
      <th>Modell</th>
      <th>Méret</th>
      <th>Szín</th>
      <th>Ár</th>
      <th>Kategória</th>
      <th></th>
    </tr>

    <!-- Ez csak egy béna elválasztó -->
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    @for (reg of shoes; track $index){
      <tr>
        <th>{{reg.brand}}</th>
        <th>{{reg.model}}</th>
        <th>{{reg.size}}</th>
        <th>{{reg.color}}</th>
        <th>{{reg.price}}</th>
        <th>{{reg.category}}</th>
        <th><button (click)="deleteShoe(reg)">X</button></th>
      </tr>
  }
  </thead>
</table>
